{%extends 'article/header.html'%}
{% load static %}
{% block main %}

      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="#" class="main-nav__link">О компании</a></li>
                </ul>
              </nav>
              <h1>О компании</h1>
              <div class="about-us-wrapp">
                <article class="about-us">
                    <h2 class="about-us__h">{{ abouts.title }}</h2>
                    {% autoescape off %}
                        {{ abouts.content }}
                    {% endautoescape %}
                </article>
                <div class="guarantees-wrapp guarantees-about-us">
                  <div class="guarantees">
                    <div class="guarantees__section">
                      <div class="guarantees__section-bg-cons"> </div>
                      <div class="guarantees__section-wrapp guarantees__section-about">
                        <p class="guarantees__section-h">Консультация</p>
                        <p class="guarantees__section-p">специалиста при подборе оборудования</p>
                      </div>
                    </div>
                    <div class="guarantees__section">
                      <div class="guarantees__section-bg-garant"></div>
                      <div class="guarantees__section-wrapp guarantees__section-about">
                        <p class="guarantees__section-h">Гарантийное</p>
                        <p class="guarantees__section-p">обслуживание</p>
                      </div>
                    </div>
                    <div class="guarantees__section">
                      <div class="guarantees__section-bg-assor"></div>
                      <div class="guarantees__section-wrapp guarantees__section-about">
                        <p class="guarantees__section-h">Широкий ассортимент</p>
                        <p class="guarantees__section-p">возможен подбор аналога</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="basic-production">
                <h2 class="basic-production__h">Основная продукция компании</h2>
                <div class="basic-production__section"><a href="/catalog/Nasosi" class="main-product-hidden__text">Электродвигатели</a><a href="#" class="main-product-hidden__text">Насосы промышленные Российские</a><a href="#" class="main-product-hidden__text">Насосы промышленные и бытовыеWilo, Grundfos, Джилекс</a></div>
                <div class="basic-production__section"><a href="#" class="main-product-hidden__text">Редукторы, мотор-редукторы</a><a href="#" class="main-product-hidden__text">Частотные преобразователи ESQ, Hyundai, Schneider, ABB, Danfoss, Веспер</a><a href="#" class="main-product-hidden__text">Устройства плавного пуска Веспер, Instart</a></div>
                <div class="basic-production__section"><a href="#" class="main-product-hidden__text">Автоматика для электродвигателей</a><a href="#" class="main-product-hidden__text">Тепловое оборудование Hintek</a><a href="#" class="main-product-hidden__text">Кондиционеры, сплит-системы Haier</a><a href="#" class="main-product-hidden__text">Вентиляционное оборудование</a></div>
              </div>
              <div class="brands">
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/Лидер.png' %}" alt="Лидер" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/logokit.gif' %}" alt="китайский насосный завод" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/wilo_logo.png' %}" alt="wilo" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/1280px-Motovario_logo.png' %}" alt="Motovario" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/Logotip-Eldin-250.png' %}" alt="Eldin" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/5аи.png' %}" alt="5аи" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/logo-grundfos.png' %}" alt="grundfos" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/vesper_logo.png' %}" alt="vesper" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/14467144_w0_h120_logo_instart.png' %}" alt="instart" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/esq.png' %}" alt="esq" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/head-logo.gif' %}" alt="мэз" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/hyundai-logo.png' %}" alt="hyundai" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="{% static '/media/images/logo_prompribor.png' %}" alt="prompribor" class="main-product__img"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-bg"></div>
        </div>
      </div>
    </div>

{% endblock %}