<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="./media/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="sticky-wrapper">
      <div class="header-wrapper">
        <header class="header">
          <div class="container">
            <div class="header-left-wrapp">
              <div class="header-logo"><a href="#" class="header-logo__img-wrapp"><img src="./media/images/logo.png" alt="NSKDV" class="header-logo__img"></a></div>
              <div class="header-company">
                <p class="header-company__p-gray">ООО “Асинхронные двигатели”</p>
                <p class="header-company__p">Оптовые и розничные поставки промышленного оборудования </p>
              </div>
            </div>
            <div class="header-right-wrapp">
              <div class="header-phone">
                <div class="header-phone__bg"></div>
                <div class="header-phone__p-wrapp">
                  <p class="header-phone__p">+7(383) 262 62 04</p>
                  <p class="header-phone__p">8 913 916 86 06</p>
                </div>
              </div>
              <div class="header-call-back"><a href="#test-modal" class="header-call-back__link popup-modal">Обратный звонок</a></div>
            </div>
          </div>
          <nav class="header-nav">
            <div class="container">
              <ul class="header-nav__item">
                <li class="header-nav__list"><a href="about.html" class="header-nav__link">О компании</a></li>
                <li class="header-nav__list"><a href="catalog.html" class="header-nav__link">Каталог</a></li>
                <li class="header-nav__list"><a href="spec.html" class="header-nav__link">Спецпредложения</a></li>
                <li class="header-nav__list"><a href="contacts.html" class="header-nav__link">Контакты</a></li>
              </ul>
            </div>
          </nav>
        </header>
        <div id="test-modal" class="white-popup mfp-hide">
          <p class="modal__h">Оставьте заявку</p>
          <p class="modal__p">Мы Вам перезвоним в течении 10 минут</p>
          <form class="modal-write__form">
            <div class="modal-write__input-wrapp">
              <input placeholder="Ваше имя" class="modal-write__input">
              <input placeholder="Email или телефон" class="modal-write__input">
            </div><a href="#" class="modal-write__link">Отправить</a>
          </form>
        </div>
      </div>
      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="#" class="main-nav__link">О компании</a></li>
                </ul>
              </nav>
              <h1>О компании</h1>
              <div class="about-us-wrapp">
                <article class="about-us">
                  <h2 class="about-us__h">ООО "Асинхронные двигатели"</h2>
                  <p>Наша компания осуществляет оптовые и розничные поставки промышленного оборудования с 1993 года. За это время мы зарекомендовали себя как надежный поставкщик качественного оборудования по доступным ценам. </p>
                  <p>Большой складской запас продукции позволяет быстро удовлетворять практически любой заказ потребителей. А наши специалисты ответят на все ваши вопросы!</p>
                </article>
                <div class="guarantees-wrapp guarantees-about-us">
                  <div class="guarantees">
                    <div class="guarantees__section">
                      <div class="guarantees__section-bg-cons"> </div>
                      <div class="guarantees__section-wrapp guarantees__section-about">
                        <p class="guarantees__section-h">Консультация</p>
                        <p class="guarantees__section-p">специалиста при подборе оборудования</p>
                      </div>
                    </div>
                    <div class="guarantees__section">
                      <div class="guarantees__section-bg-garant"></div>
                      <div class="guarantees__section-wrapp guarantees__section-about">
                        <p class="guarantees__section-h">Гарантийное</p>
                        <p class="guarantees__section-p">обслуживание</p>
                      </div>
                    </div>
                    <div class="guarantees__section">
                      <div class="guarantees__section-bg-assor"></div>
                      <div class="guarantees__section-wrapp guarantees__section-about">
                        <p class="guarantees__section-h">Широкий ассортимент</p>
                        <p class="guarantees__section-p">возможен подбор аналога</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="basic-production">
                <h2 class="basic-production__h">Основная продукция компании</h2>
                <div class="basic-production__section"><a href="#" class="main-product-hidden__text">Электродвигатели</a><a href="#" class="main-product-hidden__text">Насосы промышленные Российские</a><a href="#" class="main-product-hidden__text">Насосы промышленные и бытовыеWilo, Grundfos, Джилекс</a></div>
                <div class="basic-production__section"><a href="#" class="main-product-hidden__text">Редукторы, мотор-редукторы</a><a href="#" class="main-product-hidden__text">Частотные преобразователи ESQ, Hyundai, Schneider, ABB, Danfoss, Веспер</a><a href="#" class="main-product-hidden__text">Устройства плавного пуска Веспер, Instart</a></div>
                <div class="basic-production__section"><a href="#" class="main-product-hidden__text">Автоматика для электродвигателей</a><a href="#" class="main-product-hidden__text">Тепловое оборудование Hintek</a><a href="#" class="main-product-hidden__text">Кондиционеры, сплит-системы Haier</a><a href="#" class="main-product-hidden__text">Вентиляционное оборудование</a></div>
              </div>
              <div class="brands">
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/Лидер.png" alt="Лидер" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/logokit.gif" alt="китайский насосный завод" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/wilo_logo.png" alt="wilo" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/1280px-Motovario_logo.png" alt="Motovario" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/Logotip-Eldin-250.png" alt="Eldin" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/5аи.png" alt="5аи" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/logo-grundfos.png" alt="grundfos" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/vesper_logo.png" alt="vesper" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/14467144_w0_h120_logo_instart.png" alt="instart" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/esq.png" alt="esq" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/head-logo.gif" alt="мэз" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/hyundai-logo.png" alt="hyundai" class="main-product__img"></div>
                </div>
                <div class="brands__section">
                  <div class="main-brands__img-wrapp img-container"><img src="./media/images/logo_prompribor.png" alt="prompribor" class="main-product__img"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-bg"></div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <footer class="footer">
        <div class="footer-contacts">
          <p class="footer-contacts__p"> <span class="footer-contacts__p--gray">+7(383)</span> 292-86-06</p>
          <p class="footer-contacts__p-address">г.Новосибирск ул.Никитина 75</p>
        </div>
        <div class="container">
          <nav class="footer-nav">
            <ul class="footer-nav__item">
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Спецпредложения</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">О компании</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Контакты</a></li>
            </ul>
          </nav>
          <div class="footer-nav-border"></div>
          <nav class="footer-nav">
            <ul class="footer-nav__item">
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Элекродвигатели</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Насосы</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Редукторы </a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Вентиляция</a></li>
            </ul>
          </nav>
          <nav class="footer-nav">
            <ul class="footer-nav__item">
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Частотные преобразователи</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">УПП</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Автоматика</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Теплотехника</a></li>
            </ul>
          </nav>
          <div class="footer-about-us">
            <p class="footer-about-us__p">ООО "Асинхронные двигатели"</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
  </body>
</html>