{%extends 'article/header.html'%}
{% load static %}
{% block main %}

      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="#" class="main-nav__link">Насосы погружные для чистой воды</a></li>
                </ul>
              </nav>

              <div class="main-product-wrapp">
                  <h2 class="main-product-wrapp__h">Каталог продукции</h2>
                    {% for tovar in details_categories %}
                        <div class="main-product">
                         <a href="/catalog/{{ tovar.category.alias }}/{{ tovar.alias }}">
                            <div class="img-container main-product__img-wrapp"><img src="{{ tovar.image.url }}" alt="Насос" class="main-product__img"></div>
                            <p class="main-product__p">{{ tovar.name }}</p>
                            <div class="main-product-hidden">
                            <div class="img-container main-product__img-wrapp"><img src="{{ tovar.image.url }}" alt={{ tovar.alt }} class="main-product__img"></div>
                            <p class="main-product__p">{{ tovar.name }}</p>
                           </div>
                        </a>
                        </div>
                    {% endfor %}



                </div>
              </div>
          </div>
             <div class="main-bg"></div>
            </div>
      </div>

{% endblock %}