{%extends 'article/header.html'%}
{% load static %}
{% block main %}

      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="#" class="main-nav__link">Насосы погружные для чистой воды</a></li>
                </ul>
              </nav>
              <div class="card-product">
                <div class="card-product-wrapp">
                  <div class="img-container main-product__img-wrapp card-product-wrapp__img"><img src="{{ item.image.url }}" alt="Насос" class="main-product__img"></div>
                </div>
                <div class="card-product-info">
                  <h1 class="card-product-info__h">{{ item.caption_slider }}</h1>
                  <p>{{ item.text_in_slider }}</p>
                </div>
                <div class="card-product-request"><a href="#modal" class="card-product-request__link">Запросить стоимость</a></div>
                <div class="card-product-download"><a href="#" class="card-product-download__link">Скачать каталог</a></div>
              </div>
              <div class="card-product-dynamic">
                <h2 class="card-product-dynamic__h">Описание</h2>
                <p>Насосы ЭЦВ — выполняются погружными и полупогружными. Погружные насосные агрегаты в рабочем положении расположены целиком под уровнем жидкой среды. В полупогружных агрегатах в рабочем положении насос расположен в жидкой среде, а двигатель — над её поверхностью.</p>
                <p>Агрегат состоит из асинхронного электродвигателя, и многосекционной центробежной насосной части, соединенных между собой жесткой муфтой. Pотор насоса и ротор электродвигателя вращаются в резинометаллических подшипниках. В днище электродвигателя расположен упорный подшипник, воспринимающий осевую нагрузку. На входе в насосную часть установлена защитная сетка-фильтр, предохраняющая насос от попадания крупных механических частиц. Электродвигатель водонаполненный с короткозамкнутым ротором, с синхронной частотой вращения 3000 об/мин. «Беличья клетка» ротора выполнена из меди. Обмотка статора выполнена водостойким проводом. Охлаждение электродвигателя осуществляется перекачиваемой водой.</p>
                <p>Агрегат подключается к трехфазной сети 380 В, 50 Гц через станцию управления и защиты, gредохраняющую электродвигатель от работы в нештатных режимах. Подключение производить кабелем ВПВ сечением, соответствующим потребляемому току.</p>
                <p>Установка этих насосов в артезианских колодцах и буровых скважинах определяет особенности их конструкции: форма, размеры и расположение корпуса насоса должны соответствовать размерам и вертикальному расположению обсадных труб, внутри которых устанавливаются насосы.</p>
              </div>
              <div class="card-product-dynamic">
                <h2 class="card-product-dynamic__h">Условные обозначения</h2>
                <p>Q производительность по воздуху, м3/час; </p>
                <p>PV давление полное, Па; </p>
                <p>PD давление динамическое, Па; </p>
                <p>PSV давление статическое, Па;</p>
                <p>NY мощность установочная, кВт; </p>
                <p>U окружная скорость рабочего колеса, м/с;</p>
                <p>n  частота вращения рабочего колеса, об/мин.</p>
                <p>мощность N и давления Pv и Pdv пропорциональны плотности воздуха</p>
              </div>
              <div class="card-product-characteristics card-product-dynamic">
                <h2 class="card-product-dynamic__h">Характеристики</h2>
                <div class="table-card-product-wrapp">
                  <table cellspacing="0" class="table-card-product">
                    <tread>
                      <tr>
                        <th>Марка насоса</th>
                        <th>Подача (м2/ч)</th>
                        <th>Напор (м)</th>
                        <th>Мощность (кВт)</th>
                        <th>Диаметр (мм)</th>
                        <th>Масса (кг)</th>
                      </tr>
                    </tread>
                    <tbody>
                      <tr>
                        <td>ЭЦВ5-6.5-120</td>
                        <td>6.5</td>
                        <td>130</td>
                        <td>5.5</td>
                        <td>102.5</td>
                        <td>52</td>
                      </tr>
                      <tr>
                        <td>ЭЦВ5-6.5-120</td>
                        <td>6.5</td>
                        <td>130</td>
                        <td>5.5</td>
                        <td>102.5</td>
                        <td>52</td>
                      </tr>
                      <tr>
                        <td>ЭЦВ5-6.5-120</td>
                        <td>6.5</td>
                        <td>130</td>
                        <td>5.5</td>
                        <td>102.5</td>
                        <td>52</td>
                      </tr>
                      <tr>
                        <td>ЭЦВ5-6.5-120</td>
                        <td>6.5</td>
                        <td>130</td>
                        <td>5.5</td>
                        <td>102.5</td>
                        <td>52</td>
                      </tr>
                      <tr>
                        <td>ЭЦВ5-6.5-120</td>
                        <td>6.5</td>
                        <td>130</td>
                        <td>5.5</td>
                        <td>102.5</td>
                        <td>52</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="main-bg"></div>
        </div>
      </div>
    </div>

{% endblock %}