{%extends 'article/header.html'%}
{% load static %}
{% block main %}

      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="#" class="main-nav__link">Насосы погружные для чистой воды</a></li>
                </ul>
              </nav>
              <div class="card-product">
                <div class="card-product-wrapp">
                  <div class="img-container main-product__img-wrapp card-product-wrapp__img"><img src="{{ item.image.url }}" alt="Насос" class="main-product__img"></div>
                </div>
                <div class="card-product-info">
                  <h1 class="card-product-info__h">{{ item.caption_slider }}</h1>
                  <p>{{ item.text_in_slider }}</p>
                </div>
                <div class="card-product-request"><a href="#modal" class="card-product-request__link">Запросить стоимость</a></div>

                        {% if item.file %}
                        <div class="card-product-download"><a href="{{ item.file.url }}" class="card-product-download__link">Скачать каталог</a></div>
                        {% endif %}

              </div>
              <div class="card-product-dynamic">
                <h2 class="card-product-dynamic__h">Описание</h2>
                    {% autoescape off %}
                         {{item.content}}
                    {% endautoescape %}
                </div>
                </div>
              </div>
             <div class="main-bg"></div>
            </div>
          </div>



{% endblock %}