{%extends 'article/header.html'%}
{% load static %}
{% block main %}

      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="#" class="main-nav__link">Насосы</a></li>
                </ul>
              </nav>
              <div class="main-calalog-wrapp">
                <div class="main-catalog-product">
                  <h1 class="main-catalog-product__h">Насосы</h1>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/консольный.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Консольные К, КМ</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/консольный.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Консольные К, КМ</p>
                      </div></a></div>

                    {% for tovar in categories   %}
                                <div class="main-product">
                                <a href="{% url 'categories_details' alias=tovar.alias %}">
                                    <div class="img-container main-product__img-wrapp"><img src="{{ tovar.image.url }}" alt="Насос" class="main-product__img"></div>
                                    <p class="main-product__p">{{ tovar.name }}</p>
                                    <div class="main-product-hidden">
                                        <div class="img-container main-product__img-wrapp"><img src="{{ tovar.image.url }}" alt={{ tovar.alt }} class="main-product__img"></div>
                                        <p class="main-product__p">{{ tovar.name }}</p>


                                            {% for items in tovar.item_set.all %}

                                                <a href="/catalog/{{ items.alias }}/" class="main-product-hidden__text">{{ items.name }}</a>

                                            {% endfor %}
                                </div>
                                </a>
                                </div>
                            {% endfor %}



                </div>
                <div class="main-about-product">
                  <div class="main-about-product__bg">
                    <div class="main-about-product__bg-red"></div>
                  </div>
                  <div class="main-about-product__description">
                    <h2 class="main-about-product__h">Насосы и насосное оборудование</h2>
                    <P>Насос - это универсальное оборудование, широко применяющееся для перекачки любых типов жидкостей. Зачастую насосы используют для обеспечения циркуляции в системах отопления, подачи воды, орошения и т.д. Напор воды в насосах осуществляется путем воздействия внешней энергии (кинетической и потенциальной). </P>
                  </div>
                </div>
                <div class="main-description">
                  <p>Функциональное назначение насоса заключается в транспортировке разных видов жидкости, поэтому определяющими техническими параметрами для него являются напор (давление) и подача. </p>
                  <p><span class="main-description__p--bold">Напор (Н)</span> – это высота, на которую должен быть поднят один кг перемещаемой жидкости за счет энергии, которая сообщается ей насосом (измеряется в метрах). </p>
                  <p><span class="main-description__p--bold">Подача (Q)</span> – количество жидкости, которое подается насосом в нагнетательный трубопровод за одну единицу времени (выражено в метрах кубических). </p>
                  <p>Напор и подача тесно взаимосвязаны. Если выразить их зависимость в виде графика, то в качестве вертикальной оси будет отображен напор насоса, а горизонтальная ось – подача насоса. Используя такой график, появляется возможность через энергию электропривода и гидравлическую энергию выразить давление и скорость. Максимальное давление насоса происходит только при работе с закрытым клапаном.</p>
                </div>
                <div class="main-choice">
                  <p class="main-choice__h">При выборе насоса необходимо учитывать: </p>
                  <p>Назначение насоса, т.е. для чего его будут применять.</p>
                  <p>Какая производительность (количество жидкости, перекаченное за единицу времени) и напор (на какую высоту он будет транспортировать жидкость). </p>
                  <p>Тип всасывающего шланга, если это поверхностный насос, т.к. форма и диаметр внутреннего сечения могут снизить производительность насоса. </p>
                  <p>Какая жидкость будет перекачиваться, включая химическую активность, температурные показатели рабочей среды, вязкость, наличие твердых веществ и их размеры, а также токсичность, взрыво и пожаро безопасность. </p>
                  <p>В каких условиях будет эксплуатироваться устройство (в помещении, на улице и т.д.).</p>
                </div>
              </div>
            </div>
          </div>
          <div class="main-bg"></div>
        </div>
      </div>
    </div>


{% endblock %}