<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="./media/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="sticky-wrapper">
      <div class="header-wrapper">
        <header class="header">
          <div class="container">
            <div class="header-left-wrapp">
              <div class="header-logo"><a href="#" class="header-logo__img-wrapp"><img src="./media/images/logo.png" alt="NSKDV" class="header-logo__img"></a></div>
              <div class="header-company">
                <p class="header-company__p-gray">ООО “Асинхронные двигатели”</p>
                <p class="header-company__p">Оптовые и розничные поставки промышленного оборудования </p>
              </div>
            </div>
            <div class="header-right-wrapp">
              <div class="header-phone">
                <div class="header-phone__bg"></div>
                <div class="header-phone__p-wrapp">
                  <p class="header-phone__p">+7(383) 262 62 04</p>
                  <p class="header-phone__p">8 913 916 86 06</p>
                </div>
              </div>
              <div class="header-call-back"><a href="#test-modal" class="header-call-back__link popup-modal">Обратный звонок</a></div>
            </div>
          </div>
          <nav class="header-nav">
            <div class="container">
              <ul class="header-nav__item">
                <li class="header-nav__list"><a href="about.html" class="header-nav__link">О компании</a></li>
                <li class="header-nav__list"><a href="catalog.html" class="header-nav__link">Каталог</a></li>
                <li class="header-nav__list"><a href="spec.html" class="header-nav__link">Спецпредложения</a></li>
                <li class="header-nav__list"><a href="contacts.html" class="header-nav__link">Контакты</a></li>
              </ul>
            </div>
          </nav>
        </header>
        <div id="test-modal" class="white-popup mfp-hide">
          <p class="modal__h">Оставьте заявку</p>
          <p class="modal__p">Мы Вам перезвоним в течении 10 минут</p>
          <form class="modal-write__form">
            <div class="modal-write__input-wrapp">
              <input placeholder="Ваше имя" class="modal-write__input">
              <input placeholder="Email или телефон" class="modal-write__input">
            </div><a href="#" class="modal-write__link">Отправить</a>
          </form>
        </div>
      </div>
      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="#" class="main-nav__link">Насосы</a></li>
                </ul>
              </nav>
              <div class="main-calalog-wrapp">
                <div class="main-catalog-product">
                  <h1 class="main-catalog-product__h">Насосы</h1>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/консольный.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Консольные К, КМ</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/консольный.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Консольные К, КМ</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/чистая-вода.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Погружные для чистой воды</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/чистая-вода.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Погружные для чистой воды</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/грязная-вода.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Погружные для грязной воды</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/грязная-вода.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Погружные для грязной воды</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/шестеренные.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Шестеренные</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/шестеренные.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Шестеренные</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/Вихревой-поверхностный-насос.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Вихревые</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/Вихревой-поверхностный-насос.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Вихревые</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/отопление.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Для отопления</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/отопление.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Дя отопления</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/станции-управления.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Станции управления СУиз</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/станции-управления.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Станции управления СУиз</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/двухстроннего-хода.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Двухстороннего хода</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/двухстроннего-хода.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Двухстороннего хода</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/сточно-массные.png" alt="Насос" class="main-product__img"></div>
                      <p class="main-product__p">Сточно-массные</p>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/сточно-массные.png" alt="Насос" class="main-product__img"></div>
                        <p class="main-product__p">Сточно-массные</p>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/вило.png" alt="Насос" class="main-product__img"></div>
                      <div class="main-brands__img-wrapp img-container"><img src="./media/images/wilo_logo.png" alt="wilo" class="main-product__img"></div>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/вило.png" alt="Насос" class="main-product__img"></div>
                        <div class="main-brands__img-wrapp img-container"><img src="./media/images/wilo_logo.png" alt="wilo" class="main-product__img"></div>
                      </div></a></div>
                  <div class="main-product"><a href="#">
                      <div class="img-container main-product__img-wrapp"><img src="./media/images/джилекс.png" alt="Насос" class="main-product__img"></div>
                      <div class="main-brands__img-wrapp img-container"><img src="./media/images/джилекс-лого.png" alt="джилекс" class="main-product__img"></div>
                      <div class="main-product-hidden">
                        <div class="img-container main-product__img-wrapp"><img src="./media/images/джилекс.png" alt="Насос" class="main-product__img"></div>
                        <div class="main-brands__img-wrapp img-container"><img src="./media/images/джилекс-лого.png" alt="джилекс" class="main-product__img"></div>
                      </div></a></div>
                </div>
                <div class="main-about-product">
                  <div class="main-about-product__bg">
                    <div class="main-about-product__bg-red"></div>
                  </div>
                  <div class="main-about-product__description">
                    <h2 class="main-about-product__h">Насосы и насосное оборудование</h2>
                    <P>Насос - это универсальное оборудование, широко применяющееся для перекачки любых типов жидкостей. Зачастую насосы используют для обеспечения циркуляции в системах отопления, подачи воды, орошения и т.д. Напор воды в насосах осуществляется путем воздействия внешней энергии (кинетической и потенциальной). </P>
                  </div>
                </div>
                <div class="main-description">
                  <p>Функциональное назначение насоса заключается в транспортировке разных видов жидкости, поэтому определяющими техническими параметрами для него являются напор (давление) и подача. </p>
                  <p><span class="main-description__p--bold">Напор (Н)</span> – это высота, на которую должен быть поднят один кг перемещаемой жидкости за счет энергии, которая сообщается ей насосом (измеряется в метрах). </p>
                  <p><span class="main-description__p--bold">Подача (Q)</span> – количество жидкости, которое подается насосом в нагнетательный трубопровод за одну единицу времени (выражено в метрах кубических). </p>
                  <p>Напор и подача тесно взаимосвязаны. Если выразить их зависимость в виде графика, то в качестве вертикальной оси будет отображен напор насоса, а горизонтальная ось – подача насоса. Используя такой график, появляется возможность через энергию электропривода и гидравлическую энергию выразить давление и скорость. Максимальное давление насоса происходит только при работе с закрытым клапаном.</p>
                </div>
                <div class="main-choice">
                  <p class="main-choice__h">При выборе насоса необходимо учитывать: </p>
                  <p>Назначение насоса, т.е. для чего его будут применять.</p>
                  <p>Какая производительность (количество жидкости, перекаченное за единицу времени) и напор (на какую высоту он будет транспортировать жидкость). </p>
                  <p>Тип всасывающего шланга, если это поверхностный насос, т.к. форма и диаметр внутреннего сечения могут снизить производительность насоса. </p>
                  <p>Какая жидкость будет перекачиваться, включая химическую активность, температурные показатели рабочей среды, вязкость, наличие твердых веществ и их размеры, а также токсичность, взрыво и пожаро безопасность. </p>
                  <p>В каких условиях будет эксплуатироваться устройство (в помещении, на улице и т.д.).</p>
                </div>
              </div>
            </div>
          </div>
          <div class="main-bg"></div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <footer class="footer">
        <div class="footer-contacts">
          <p class="footer-contacts__p"> <span class="footer-contacts__p--gray">+7(383)</span> 292-86-06</p>
          <p class="footer-contacts__p-address">г.Новосибирск ул.Никитина 75</p>
        </div>
        <div class="container">
          <nav class="footer-nav">
            <ul class="footer-nav__item">
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Спецпредложения</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">О компании</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Контакты</a></li>
            </ul>
          </nav>
          <div class="footer-nav-border"></div>
          <nav class="footer-nav">
            <ul class="footer-nav__item">
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Элекродвигатели</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Насосы</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Редукторы </a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Вентиляция</a></li>
            </ul>
          </nav>
          <nav class="footer-nav">
            <ul class="footer-nav__item">
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Частотные преобразователи</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">УПП</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Автоматика</a></li>
              <li class="footer-nav__list"><a href="#" class="footer-nav__link">Теплотехника</a></li>
            </ul>
          </nav>
          <div class="footer-about-us">
            <p class="footer-about-us__p">ООО "Асинхронные двигатели"</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
  </body>
</html>