{%extends 'article/header.html'%}
{% load static %}
{% block main %}

      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="contacts.html" class="main-nav__link">Контакты</a></li>
                </ul>
              </nav>
              <h1 class="contacts__h">Контакты</h1>
              <div class="contacts-wrapp">
                <div class="contact">
                  <h2 class="contact__h">ООО "Асинхронные двигатели"</h2>
                  <div class="contacts__address">
                    <p class="contact__p">г.Новосибирск ул. Никитина 75</p>
                  </div>
                  <div class="contacts__phone">
                    <p class="contact__p">+7 (383) 292 86 06 </p>
                    <p class="contact__p">+7 (383) 213-60-90</p>
                    <p class="contact__p">+7 (383) 299-72-56</p>
                    <p class="contact__p">8 913 916 86 06</p>
                  </div>
                  <div class="contacts__email">
                    <p class="contact__p"><a href="#" class="contact__link">ad2928606@mail.ru</a></p>
                  </div>
                  <div class="contacts__fax">
                    <p class="contact__p">факс: +7 (383) 262 62 04</p>
                  </div>
                  <div class="contacts__work-time">
                    <p class="contact__p">Понедельник-Пятница с 9:00 до 17:00</p>
                    <p class="contact__p contact__work--gray">(Суббота, воскресение по требованию)</p>
                  </div>
                </div>
                <div class="contacts-map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=vrFkxp6j7Cnatf-5pQPna-Shw8KR_jdq&width=565&height=400&lang=ru_RU&sourceType=constructor&scroll=true"></script></div>
              </div>
            </div>
              {% if  messages %}
                  {% for msg in messages %}
                      <div class="success-message-alert"><p>{{msg}}</p></div>
                    {% endfor %}
              {% else %}
                  <div class="contact-write">
              <p class="contact-write__p">Напишите нам</p>
              <form action="{% url 'contact'%}"  method="post" class="contact-write__form">
                  {% csrf_token %}
                <div class="contact-write__input-wrapp">
                    {{ form.subject }}
                    {{ form.sender }}
                </div>
                <div class="contact-write__textarea-wrapp">
                    {{ form.message_mail }}
                </div><input type="submit" class="contact-write__link" value="Отправить"/>

              </form>
            </div>

              {% endif %}
          </div>
          <div class="main-bg"></div>
        </div>
      </div>
    </div>
{% endblock %}