{%extends 'article/header.html'%}
{% load static %}
{% block main %}

      <div class="main-wrapper">
        <div class="main">
          <div class="container-wrapp">
            <div class="container">
              <nav class="main-nav">
                <ul class="main-nav__item">
                  <li class="main-nav__list"><a href="index.html" class="main-nav__link">Главная \</a></li>
                  <li class="main-nav__list"><a href="#" class="main-nav__link">Предложения</a></li>
                </ul>
              </nav>
              <aside class="main-aside">
                <div class="main-calalog-menu"><a href="#" class="main-calalog-menu__link">Предложения</a>
                    {% for list in tov_list %}
                        <div class="main-calalog-menu__nav-wrapp"><a href="/spec-details/{%firstof list.item.alias  list.category.alias %}" class="main-product-hidden__text">{{ list.item.name }}{{ list.category.name }}</a></div>
                    {% endfor %}
                </div>
              </aside>
              <div class="main-spec-wrapp">
                <h1 class="main-spec__h">Спецпредложения</h1>
                <h2 class="main-catalog-spec__h">Насосы</h2>
                <p>Распродажа на ряд позиций из наличия</p>
                <div class="spec-catalog">
                  <div class="spec-table-wrapp">
                    <table cellspacing="0" class="spec__table">
                      <tread>
                        <tr>
                          <th class="spec__th">Название</th>
                          <th class="spec__th">Цена</th>
                          <th class="spec__th"></th>
                        </tr>
                      </tread>

                    {% block spec %} {% endblock %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-bg"></div>
        </div>
      </div>
    </div>

{% endblock %}